*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    padding: 2.3rem;
    text-align: center;
    transform: translateX(-2000px);
    animation-name: headerSlide;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
@keyframes headerSlide{
    from{transform: translateX(-2000);}
    to {transform: translateX(0);}
}
nav ul{
    list-style-type: none;
}
nav ul li  {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    
}
section{
    display: flex;
    padding: 2rem;
}
img{height: 30rem;
}
section h1{
    margin: 1rem 0;
}
section p{
    line-height: 2;
}
section a{
    background-color: pink;
    color: #fff;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    transition: scale .2s;
}
section a :hover{
    scale: .98;
    
}
section img{
    border-radius: 5px;
    box-shadow: 2px 2px 10px #333;
}